/* THEME COLOR */
/* #FF8533 */
/* #FF7111 */


html, body{
	width: 100%;
	height: 100%;
}

section{
	padding-top: 5em;
	padding-bottom: 5em;
}

/*h1{
	margin-bottom: 1em;
}*/

/* BOOTSTRAP OVERRIDE */

.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary:focus{
	background-color: transparent;
	outline: none;
	border-color: #ff8533;
	color: #ff8533;
	border-radius: 0;
}

.btn-outline-primary:hover{
	border-color: #ff8533;
	background-color: #ff8533;
	color: #fff;
}

.btn-outline-info{
	border-color: #fff;
	color: #fff;
	border-radius: 0;
}

.btn-outline-info:hover{
	background-color: #ff8533;
	border-color : #ff8533;
}

/* NAVBAR */

.navbar{
	background-color: #333;
	color: #ff8533;
	font-size: 1.25rem;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:active,
.navbar-inverse .navbar-brand:focus
{
	color: #ff8533;
}

.navbar-inverse .navbar-brand:hover{
	color: #ff6700;
}

.navbar-inverse .navbar-nav .nav-link,
.navbar-inverse .navbar-nav .nav-link:active,
.navbar-inverse .navbar-nav .nav-link:focus{
	color: #ff8533;
	padding-left: 1rem;
}

.navbar-inverse .navbar-nav .nav-link:hover{
	color: #ff6700;
}

/* LANDIND */
#landing{
	color: #fff;
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../images/food-table.jpg");
	background-position: center;
    background-size: cover;
}

#landing .intro{
	margin-left: 10%;
}

/* ABOUT */


#about .row{
	border: 1px solid #ccc;
}


/* FEATURES */
#features{
	padding-top: 0;
}

#features .col{
	border: 1px solid transparent;
	transition: all 0.3s;
}

#features .col:hover{
	color: #ff8533;
	/*border: 1px solid #ff8533;*/
}

/* SPECIALIST */
#specialities{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/shrimp.jpg");
	background-position: center;
    background-size: cover;
}

#specialities h1{
	color: #fff;
}

#specialities .card{
	border-color: #bbb;
	border-radius: 0;
}

#specialities p.price{
	font-size: 2rem;
	color: #ff8533;
}

/* MENU */
#menu{
	background-color: #fafafa;
}

#menu .menu-item{
	margin-bottom: 1rem;
}

#menu .menu-price{
	color: #ff8533;
	font-size: 1.25rem;
	margin-bottom: 0;
}

#menu .card{
	margin-bottom: 5rem;
}

/* CONTACT */
#contact{
	color: #ff8533;
	background-color: #333;
}

#contact .fa{
	margin-bottom: 2rem;
}

#contact h5{
	margin-bottom: 1rem;
}

#contact a{
	color: #ff8533;
	border: 1px solid #ff8533;
}

#map{
	height: 400px;
}

.map-detail{
	color: #ff8533;
}

.map-detail h5{
	margin-bottom: 1rem;
}





